.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    padding: 0;
    margin: 0;
}

  @media (max-width: 768px) {
    .place__title {
      max-width: 330px;
      font-size: 42px;
      line-height: 46px;
      vertical-align: bottom;
      word-wrap: break-word;
    }
  }
  @media (max-width: 340px) {
    .place__title {
      max-width: 320px;
      font-size: 32px;
      line-height: 109%;
      text-align: left;
      margin-left: 16px;
    }
  }
  