.places {
    max-width: calc(100% - 96px);
    margin: 0 auto 0;
}

  @media (max-width: 800px) {
    .places {
      max-width: calc(100% - 48px);
    }
  }
  @media (max-width: 400px) {
    .places {
      max-width: 100%;
    }
  }
  