.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin:0;
}

.place__paragraph:nth-of-type(2n) {
    margin-top: 25px;
}

  @media (max-width: 1200px) {
    .place__paragraph {
        font-size: 18px;
    }
  }
  @media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
  }
  @media (max-width: 340px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
  }

  