.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
    z-index: 5;
}

@media (max-width: 800px) {
    .cover__title {
      font-size: calc(100vw * 0.094);
    }
  }
  @media (max-width: 600px) {
    .cover__title {
      width: 100%;
      font-size: 32px;
      line-height: 109%;
      margin: 32px auto 16px;
    }
  }
  
  @media (max-width: 400px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
  }